BETTER_AUTH_SECRET=RaTpPIy2oHgTyIPJmIs2IySlqMTmbtKG
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.knnkoskerhjgseselwju:sIUXmq4IOXZfXAM9@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.knnkoskerhjgseselwju:sIUXmq4IOXZfXAM9@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
